.mainWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(18, 58, 133, 0.26);
    margin: 20px;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.upperPart {
    display: flex;
    flex-direction: row;
}

.questionIcon {
    padding: 8px;
}

.questionTitle {
    font-size: 18px;
}

.userName {
    font-weight: 400;
    color: rgba(18, 58, 133, 0.822);
}

.questionContent {
    padding: 2px 14px;
}

.answerContent {
    padding: 2px 14px;
}

.answersWrapper {
    padding-bottom: 20px;
    animation: my-animation .5s ease-out forwards;
}

.openContentBtn {
    all: initial;
    color: rgba(6, 19, 43, 0.74);
    width: 50px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
}

@keyframes my-animation {
    from {
        opacity: 0;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(40px);
    }
}