.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper button {
    color: rgba(0, 45, 128, 0.603);
    width: 200px;
    margin: 5px;
}

.wrapper button:hover {
    background-color: rgba(189, 202, 228, 0.185);;
}